name: Compile plugins and release

on:
  pull_request:
    paths:
      - 'The Last Stand/**/*.sp'
      - 'The Last Stand/**/*.inc'
    paths-ignore:
      - 'The Last Stand/_deprecated/**'
    branches:
      - master
  push:
    paths:
      - 'The Last Stand/**/*.sp'
      - 'The Last Stand/**/*.inc'
    paths-ignore:
      - 'The Last Stand/_deprecated/**'
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: build with sm${{ matrix.sm_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sm_version:
          - "1.12"
          - "1.13"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          echo "SCRIPTS_PATH=$GITHUB_WORKSPACE/The Last Stand" >> $GITHUB_ENV

      - name: Setup SourcePawn Compiler ${{ matrix.sm_version }}
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ matrix.sm_version }}

      - name: Remove deprecated plugins
        working-directory: ${{ env.SCRIPTS_PATH }}/
        run: |
          rm -r _deprecated

      - name: Compile plugins
        working-directory: ${{ env.SCRIPTS_PATH }}/
        run: |
          errors=0
          for dir in */
          do
            dir=${dir%/}
            if [ -d "$dir" ]; then
              for file in $dir/scripting/*.sp
              do
                if [ -f "$file" ]; then
                  filename=$(basename "$file")
                  echo -e "\nCompiling $file..."
                  spcomp -E -w234 -w217 -O2 -v2 -i "$dir/scripting/include" -o "$dir/plugins/$filename.smx" $file || {
                    errors=$((errors + 1))
                    continue
                  }
                fi
              done
            fi
          done
          if [ "$errors" -gt 0 ]; then
            echo -e "\n$errors plugin(s) failed to compile."
            exit 1
          else
            echo -e "\nAll plugins compiled successfully."
            exit 0
          fi

      - name: Package
        uses: actions/upload-artifact@v4
        with:
          name: MoYu-Plugins-${{ matrix.sm_version }}
          path: |
            The Last Stand/
            include/

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: tmp/

      - name: Create Release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "MoYu-Plugins"
          files: tmp/MoYu-Plugins-*